table {
	font-size: 10pt;
}

/*
@media (max-device-width: 480px) and (orientation: portrait)
{
	body 
	{  
        display:block;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        min-width:460px;
    }  
}
*/

#dvloading {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
	opacity: .8;
}
